---
layout: default
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope"
      itemtype="http://schema.org/Blog">

    {% include list-featured-posts.html %}

    <div id="grid-menu" class="row flex-grid">
        <article class="box-item  post-dcd" style="min-height: 20px" itemscope="itemscope"
                 itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <div class="box-body" style="text-align: center">
                <div class="tags">
                    <a href="{{site.baseurl}}/category/dcd" style="color: #7AAB13;border-color: #7AAB13;">Data-Centric Design</a>
                    <a href="{{site.baseurl}}/category/material" style="color: #EB7728;border-color: #EB7728">Materials</a>
                    <a href="{{site.baseurl}}/category/ifonly" style="color: #2DA0C3;border-color: #2DA0C3">Tools</a>
                    <a href="{{site.baseurl}}/category/tutorial" style="color: #7D669E;border-color: #7D669E">Tutorials</a>
                    <a href="{{site.baseurl}}/category/event" style="color: #B31917;border-color: #B31917">Events</a>
                    <a href="{{site.baseurl}}/category/opportunity" style="color: #637a91;border-color: #637a91">Opportunities</a>
                    <a href="{{site.baseurl}}/category/education" style="color: #215c31;border-color: #215c31">Education</a>
                    <a href="{{site.baseurl}}/about" style="color: #000000;border-color: #000000">About us</a>
                </div>
            </div>
        </article>
    </div>

    {% include list-not-featured-posts.html %}

</main>
