---
layout: minimal
title: "About us"
permalink: /about
description: "Data-Centric Design Lab"
---

<h1>People</h1>

{% for staff_member in site.staff_members %}
    <h2><a href="{{ staff_member.link }}">{{ staff_member.name }} - {{ staff_member.position }}</a></h2>
    <p>
        <img src="{{ staff_member.img }}" style="max-width: 250px;float: left;" alt="{{ staff_member.name }}" title="{{ staff_member.name }}"  />   
        {{ staff_member.content }}
    </p>
{% endfor %}

<h1>Publications</h1>

{% for publication in site.publications %}
<p>[{{ publication.type }}] {{ publication.authors }}. {{ publication.title }}. {{ publication.venue }}. {{ publication.year }}</p>
{% endfor %}

