---
layout: minimal
title: "Tools"
permalink: /tools/index.html
image: '/assets/img/series.png'
description: "Our tools for Data-Centric Designers!"
---

<div id="grid-tools" class="row flex-grid">
  {% for tool in site.tools %}
  <article class="box-item" itemscope="itemscope" itemprop="blogPost">
      <span class="ribbon">
          <span>{{ tool.type }}</span>
      </span>
      <div class="box-body">
          <a class="post-link" href="{{ tool.url | prepend: site.baseurl }}">
              <h2 class="post-title" itemprop="name">
                  {{ tool.title }}
              </h2>
          </a>
          {% if tool.image != null %}
          <img src="/assets/img/{{ tool.image }}" style="max-width: 300px;">
          {% endif %}
          <a class="post-link" href="{{ tool.url | prepend: site.baseurl }}">
              <p class="description">{{ tool.introduction }}</p>
          </a>
      </div>
  </article>
  {% endfor %}
</div>